@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-ExtraBoldItalic.ttf') form('truetype'),
  url('../assets/fonts/OpenSans-Italic.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-Light.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-LightItalic.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-SemiBold.ttf') format('truetype'),
  url('../assets/fonts/OpenSans-SemiBoldItalic.ttf') forma('truetype');
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  margin: 0;
}

.container {
  position: relative;
  top: 101px;
  padding: 3em;
}

.listingGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  grid-gap: 3em;
}
